planifets/.idea/workspace.xml
planifets/ionic.project
planifets/.io-config.json
planifets/.idea/modules.xml
planifets/.idea/planifets.iml
planifets/.idea/vcs.xml
planifets/.idea/jsLibraryMappings.xml
planifets/.idea/libraries/planifets_node_modules.xml
