<ion-view view-title="Availabilities">
  <ion-content>
    <div>
      <div class="row row-top row-header">
        <h5 class="availabilities-title">{{programTitle}}</h5>
      </div>
      <div class="row row-top">
        <div class="col col-20 col-header-course">Course</div>
        <div class="col col-header">{{semesters[0].semester}}</div>
        <div class="col col-header">{{semesters[1].semester}}</div>
        <div class="col col-header">{{semesters[2].semester}}</div>
        <div class="col col-header">{{semesters[3].semester}}</div>
        <div class="col col-header">{{semesters[4].semester}}</div>
      </div>
      <div class="row" ng-repeat="course in coursesToDisplay">
        <div class="col col-20 col-availabilities-course">{{course.course.title}}</div>
        <div class="col col-availabilities">{{course.availabilities[0].availabilityValue}}</div>
        <div class="col col-availabilities">{{course.availabilities[1].availabilityValue}}</div>
        <div class="col col-availabilities">{{course.availabilities[2].availabilityValue}}</div>
        <div class="col col-availabilities">{{course.availabilities[3].availabilityValue}}</div>
        <div class="col col-availabilities">{{course.availabilities[4].availabilityValue}}</div>
      </div>
      <div class="row">
        <div class="col col-20 col-availabilities-info">D : Day<br>N : Night<br>DN : Day-Night</div>
        <div class="col col-80 col-availabilities-info">* : Special schedule Expedited<br> Qa : Quality assurance<br> Ts : Health technology</div>
      </div>
    </div>
    <!--<div class="list">-->
      <!--<label class="item">-->
        <!--<button class="button button-block button-dark" ng-click="downloadPDF()">Download PDF</button>-->
      <!--</label>-->
    <!--</div>-->
  </ion-content>
</ion-view>
