<ion-view view-title="Course Availabilities">
  <ion-content>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Program
        </div>
        <select>
          <option>Bachelor's degrees (B.Ing.)</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Field of study
        </div>
        <select ng-model="selectedField.value" ng-options="item.title for item in fields"></select>
      </label>

      <label class="item">
        <button class="button button-block button-dark icon-right ion-chevron-right" ng-click="viewAvailabilities()">View availabilities</button>
      </label>

    </div>
  </ion-content>
</ion-view>
